@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    user-select: none;
}
img{
    pointer-events: none;
}

:root {
    --main-color: white;
    --alt-color: rgba(171, 178, 191, 1);
    --sec-color: rgba(199, 120, 221, 1);
    --back-color: rgba(40, 44, 51, 1);
    --main-font: 'Fira Code', monospace;
}


header {
    padding: 32px 0px 8px;
    width: 1024px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.hash {
    color: var(--sec-color);
    font-style: var(--main-font);
}

.header--logo {
    width: 72px;
    height: 21px;
    display: flex;
}

.header--logo-txt {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color);
}

.header--box {
    width: 460px;
    height: 21px;
    display: flex;
}

.header--nav {
    width: 377px;
    height: 21px;
    display: flex;
    justify-content: space-between;
}

.header--box-lang {
    margin-left: 32px;
    width: 34px;
    height: 21px;
    position: relative;
    display: inline-block;
}

.header--nav-list {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    color: var(--alt-color);
}

.header--nav-list:hover {
    color: var(--main-color);
}

body {
    background-color: var(--back-color)
}

.language-btn {
    background: var(--back-color);
    color: var(--alt-color);
    transform-style: var(--main-font);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.language-list {
    width: 30px;
    height: 84px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 60px;
}

.language-list li {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.language-list li:hover {
    background-color: #555;
}

.language-arrow {
    font-size: large;
    display: inline-block;
    animation: arrowBounce 0.5s infinite alternate;
}

@keyframes arrowBounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5px);
    }
}