@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

img {
    pointer-events: none;
}

:root {
    --main-color: white;
    --back-color-dark: rgb(40, 44, 51, 1);
    --alt-color: rgba(171, 178, 191, 1);
    --sec-color: rgba(199, 120, 221, 1);
    --back-color: rgb(rgba(40, 44, 51, 1));
    --main-font: 'Fira Code', monospace;
}


header {
    padding: 32px 0px 8px;
    width: 100%;
    max-width: 1028px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: var(--back-color);
}

.hash {
    color: var(--sec-color);
    font-style: var(--main-font);
}

.header--logo {
    width: auto;
    height: 21px;
    display: flex;
}

.header--logo-img {
    width: 21px;
    height: 21px;
}

.header--logo-txt {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color);
}

.burger-btn {
    display: none;
}

.header--boxMobile {
    display: none;
}

.header--box {
    width: 460px;
    height: 21px;
    display: flex;
}

.header--nav {
    width: 377px;
    height: 21px;
    display: flex;
    justify-content: space-between;
}

.header--box-lang {
    margin-left: 32px;
    width: 34px;
    height: 21px;
    position: relative;
    display: inline-block;
}

.header--nav-list {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    color: var(--alt-color);
}

.header--nav-list:hover {
    color: var(--main-color);
}

body {
    background-color: var(--back-color-dark)
}

.language-btn {
    background: var(--back-color);
    color: var(--alt-color);
    transform-style: var(--main-font);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.language-list {
    width: 30px;
    height: 84px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 60px;
}

.language-list li {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.language-list li:hover {
    background-color: #555;
}

.language-arrow {
    display: inline-block;
    animation: arrowBounce 0.5s infinite alternate;
}

@keyframes arrowBounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5px);
    }
}

.container-a {
    width: 32px;
    height: 311px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    top: 0px;
    left: 17px;
}


@media (max-width: 768px) {
    .container-a {
        display: none;
    }

    header {
        padding: 8px 0px 8px;
        max-width: 768px;
        height: 40px;
        
    }

    .header--logo {
        padding-left: 10px;
        width: auto;
        height: 16px;
        display: flex;
    }

    .header--logo-img {
        width: 21px;
        height: 21px;
    }

    .header--logo-txt {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 16px;
        color: var(--main-color);
    }

    .header--box {
        display: none;
    }

    .burger-btn {
        display: block;
        background: var(--back-color);
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .icon-burger{
        width: 24px;
        height: 24px;
        display: block;
    }
    .icon-close{
        width: 24px;
        height: 24px;
        display: none;
    }

    .burger-btn.active .icon-burger {
    display: none;
}

.burger-btn.active .icon-close {
    display: block;
}


    .header--boxMobile {
        display: none;
        top: 48px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--back-color);
        position: fixed;
        flex-direction: column;
        padding-top: 24px;
    }

    .header--boxMobile.active {
        display: flex;
    }

    ul li {
        font-size: 32px;
    }

    .header--nav-list {
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 32px;
        color: var(--alt-color);
    }


    .header--nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 32px;
        margin-bottom: 32px;
    }

    .header--nav li {
        padding: 8px 0;
    }

    .header--box-lang {
        margin-left: 0;
        padding-left: 32px;
        width: auto;
        height: auto;
        position: relative;
        display: block;
    }

    .language-list {
        display: none;
        width: 30px;
        height: 84px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        list-style: none;
        margin: 0;
        padding: 0;
        min-width: 60px;
    }

    .header--nav-list:hover {
        color: var(--main-color);
    }

    body {
        background-color: var(--back-color)
    }

    .language-btn {
        background: var(--back-color);
        color: var(--alt-color);
        font-weight: 600;
        font-size: 32px;
        transform-style: var(--main-font);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .language-list {
        width: 30px;
        height: auto;
        display: none;
        position: absolute;
        top: 100%;
        left: auto;
        background-color: #333;
        list-style: none;
        margin: 0;
        padding: 0;
        min-width: 60px;
    }

    .language-list li {
        padding: 5px 10px;
        cursor: pointer;
        color: white;
    }

    .language-list li:hover {
        background-color: #555;
    }

    .language-arrow {
        display: inline-block;
        animation: arrowBounce 0.5s infinite alternate;
    }

    @keyframes arrowBounce {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(5px);
        }
    }





}